In [2]:
villes = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]

In [ ]:
import requests
import pandas as pd
import time




def get_coordinates(ville):
    url = "https://nominatim.openstreetmap.org/search"
    params = {"q": ville, "format": "json", "limit": 1, "countrycodes": "fr", "accept-language": "fr"}
    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.6 Safari/605.1.15"}
    r = requests.get(url, params=params, headers=headers)
    data = r.json()
    if data:
        return float(data[0]["lat"]), float(data[0]["lon"])
    else:
        return None, None


rows = []

for ville in villes:
    lat, lon = get_coordinates(ville)
    print(f"{ville}: {lat}, {lon}")
    rows.append({"ville": ville, "latitude": lat, "longitude": lon})
    time.sleep(1)

Mont Saint Michel: 48.6359541, -1.51146
St Malo: 48.649518, -2.0260409
Bayeux: 49.2764624, -0.7024738
Le Havre: 49.4938975, 0.1079732
Rouen: 49.4404591, 1.0939658
Paris: 48.8534951, 2.3483915
Amiens: 49.8941708, 2.2956951
Lille: 50.6365654, 3.0635282
Strasbourg: 48.584614, 7.7507127
Chateau du Haut Koenigsbourg: 48.2494107, 7.3443202
Colmar: 48.0777517, 7.3579641
Eguisheim: 48.0447968, 7.3079618
Besancon: 47.2380222, 6.0243622
Dijon: 47.3215806, 5.0414701
Annecy: 45.8992348, 6.1288847
Grenoble: 45.1875602, 5.7357819
Lyon: 45.7578137, 4.8320114
Gorges du Verdon: 43.7496562, 6.3285616
Bormes les Mimosas: 43.1506968, 6.3419285
Cassis: 43.2140359, 5.5396318
Marseille: 43.2961743, 5.3699525
Aix en Provence: 43.5298424, 5.4474738
Avignon: 43.9492493, 4.8059012
Uzes: 44.0121279, 4.4196718
Nimes: 43.8374249, 4.3600687
Aigues Mortes: 43.5661521, 4.19154
Saintes Maries de la mer: 43.4515922, 4.4277202
Collioure: 42.52505, 3.0831554
Carcassonne: 43.2130358, 2.3491069
Ariege: 42.9455368, 1.4065544
Toulouse: 43.6044638, 1.4442433
Montauban: 44.0175835, 1.3549991
Biarritz: 43.4832523, -1.5592776
Bayonne: 43.4945144, -1.4736657
La Rochelle: 46.159732, -1.1515951

In [4]:
df = pd.DataFrame(rows)
df.head(36)

                           ville   latitude  longitude
0              Mont Saint Michel  48.635954  -1.511460
1                        St Malo  48.649518  -2.026041
2                         Bayeux  49.276462  -0.702474
3                       Le Havre  49.493898   0.107973
4                          Rouen  49.440459   1.093966
5                          Paris  48.853495   2.348391
6                         Amiens  49.894171   2.295695
7                          Lille  50.636565   3.063528
8                     Strasbourg  48.584614   7.750713
9   Chateau du Haut Koenigsbourg  48.249411   7.344320
10                        Colmar  48.077752   7.357964
11                     Eguisheim  48.044797   7.307962
12                      Besancon  47.238022   6.024362
13                         Dijon  47.321581   5.041470
14                        Annecy  45.899235   6.128885
15                      Grenoble  45.187560   5.735782
16                          Lyon  45.757814   4.832011
17              Gorges du Verdon  43.749656   6.328562
18            Bormes les Mimosas  43.150697   6.341928
19                        Cassis  43.214036   5.539632
20                     Marseille  43.296174   5.369953
21               Aix en Provence  43.529842   5.447474
22                       Avignon  43.949249   4.805901
23                          Uzes  44.012128   4.419672
24                         Nimes  43.837425   4.360069
25                 Aigues Mortes  43.566152   4.191540
26      Saintes Maries de la mer  43.451592   4.427720
27                     Collioure  42.525050   3.083155
28                   Carcassonne  43.213036   2.349107
29                        Ariege  42.945537   1.406554
30                      Toulouse  43.604464   1.444243
31                     Montauban  44.017584   1.354999
32                      Biarritz  43.483252  -1.559278
33                       Bayonne  43.494514  -1.473666
34                   La Rochelle  46.159732  -1.151595

In [ ]:
import requests
from collections import defaultdict
from datetime import datetime
import time
import pandas as pd

API_KEY = "d564f548686d6705a6a122a68256b04a" 

def get_daily_forecast(lat, lon, api_key=API_KEY):
    url = "https://api.openweathermap.org/data/2.5/forecast"
    params = {"lat": lat, "lon": lon, "appid": api_key, "units": "metric"}
    r = requests.get(url, params=params)

In [ ]:
import requests
from datetime import datetime
import pandas as pd
import time


API_KEY = "d564f548686d6705a6a122a68256b04a"


def get_forecast(lat, lon, api_key=API_KEY):
    url = "https://api.openweathermap.org/data/2.5/forecast"
    params = {
        "lat": lat,
        "lon": lon,
        "appid": api_key,
        "units": "metric"  
    }
    r = requests.get(url, params=params)
    r.raise_for_status()  
    return r.json()




rows = []


for i, row in df.iterrows():
    ville = row["ville"]
    lat = row["latitude"]
    lon = row["longitude"]

    print(f"üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é {ville}...")

    data = get_forecast(lat, lon)
    items = data.get("list", [])

    for it in items:
        dt = datetime.utcfromtimestamp(it["dt"]).strftime("%Y-%m-%d %H:%M")
        temp = it["main"]["temp"]
        pop = it.get("pop", 0)
        rain = it.get("rain", {}).get("3h", 0)

        rows.append({
            "ville": ville,
            "datetime": dt,
            "temp_c": temp,
            "pop": pop,
            "rain_mm": rain
        })

    time.sleep(1)

üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Mont Saint Michel...

/var/folders/6c/l7ljvkvj09x5gpjs4vdbtmv80000gn/T/ipykernel_58006/3213539388.py:39: DeprecationWarning: datetime.datetime.utcfromtimestamp() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.fromtimestamp(timestamp, datetime.UTC).
  dt = datetime.utcfromtimestamp(it["dt"]).strftime("%Y-%m-%d %H:%M")

üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é St Malo...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Bayeux...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Le Havre...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Rouen...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Paris...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Amiens...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Lille...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Strasbourg...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Chateau du Haut Koenigsbourg...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Colmar...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Eguisheim...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Besancon...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Dijon...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Annecy...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Grenoble...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Lyon...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Gorges du Verdon...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Bormes les Mimosas...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Cassis...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Marseille...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Aix en Provence...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Avignon...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Uzes...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Nimes...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Aigues Mortes...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Saintes Maries de la mer...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Collioure...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Carcassonne...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Ariege...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Toulouse...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Montauban...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Biarritz...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é Bayonne...
üì° –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é La Rochelle...

In [35]:
import pandas as pd
df_weather = pd.DataFrame(rows)
df_weather.head()

               ville          datetime  temp_c  pop  rain_mm
0  Mont Saint Michel  2025-10-14 15:00   16.74  0.0      0.0
1  Mont Saint Michel  2025-10-14 18:00   14.99  0.0      0.0
2  Mont Saint Michel  2025-10-14 21:00   12.92  0.0      0.0
3  Mont Saint Michel  2025-10-15 00:00   10.35  0.0      0.0
4  Mont Saint Michel  2025-10-15 03:00    9.81  0.0      0.0

In [ ]:



villes = [
    "Mont Saint Michel", "St Malo", "Bayeux", "Le Havre", "Rouen", "Paris", "Amiens", "Lille",
    "Strasbourg", "Chateau du Haut Koenigsbourg", "Colmar", "Eguisheim", "Besancon", "Dijon",
    "Annecy", "Grenoble", "Lyon", "Gorges du Verdon", "Bormes les Mimosas", "Cassis", "Marseille",
    "Aix en Provence", "Avignon", "Uzes", "Nimes", "Aigues Mortes", "Saintes Maries de la mer",
    "Collioure", "Carcassonne", "Ariege", "Toulouse", "Montauban", "Biarritz", "Bayonne", "La Rochelle"
]


def get_forecast(lat, lon):
    url = "https://api.openweathermap.org/data/2.5/forecast"
    params = {"lat": lat, "lon": lon, "appid": API_KEY, "units": "metric"}
    r = requests.get(url, params=params)
    r.raise_for_status()
    return r.json()


rows = []

for ville in villes:
    lat, lon = get_coordinates(ville)
    if lat is None:
        print(f"‚ö†Ô∏è –ù–µ —É–¥–∞–ª–æ—Å—å –Ω–∞–π—Ç–∏ –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç—ã –¥–ª—è {ville}")
        continue

    

    try:
        data = get_forecast(lat, lon)
    except Exception as e:
        print(f"‚ö†Ô∏è –û—à–∏–±–∫–∞ –ø—Ä–æ–≥–Ω–æ–∑–∞ –¥–ª—è {ville}: {e}")
        continue

    items = data.get("list", [])
    for it in items:
        dt = datetime.utcfromtimestamp(it["dt"]).strftime("%Y-%m-%d %H:%M")
        temp = it["main"]["temp"]
        pop = it.get("pop", 0)
        rain = it.get("rain", {}).get("3h", 0)

        rows.append({
            "ville": ville,
            "datetime": dt,
            "temp_c": temp,
            "pop": pop,
            "rain_mm": rain
        })

    time.sleep(1)


df_weather = pd.DataFrame(rows)
print("‚úÖ –¢–∞–±–ª–∏—Ü–∞ –≥–æ—Ç–æ–≤–∞!\n")
print(df_weather.head(50))

/var/folders/6c/l7ljvkvj09x5gpjs4vdbtmv80000gn/T/ipykernel_58006/2395716749.py:37: DeprecationWarning: datetime.datetime.utcfromtimestamp() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.fromtimestamp(timestamp, datetime.UTC).
  dt = datetime.utcfromtimestamp(it["dt"]).strftime("%Y-%m-%d %H:%M")

‚úÖ –¢–∞–±–ª–∏—Ü–∞ –≥–æ—Ç–æ–≤–∞!

                ville          datetime  temp_c  pop  rain_mm
0   Mont Saint Michel  2025-10-14 15:00   16.74  0.0      0.0
1   Mont Saint Michel  2025-10-14 18:00   15.13  0.0      0.0
2   Mont Saint Michel  2025-10-14 21:00   12.71  0.0      0.0
3   Mont Saint Michel  2025-10-15 00:00   10.48  0.0      0.0
4   Mont Saint Michel  2025-10-15 03:00    9.87  0.0      0.0
5   Mont Saint Michel  2025-10-15 06:00   10.75  0.0      0.0
6   Mont Saint Michel  2025-10-15 09:00   15.17  0.0      0.0
7   Mont Saint Michel  2025-10-15 12:00   18.33  0.0      0.0
8   Mont Saint Michel  2025-10-15 15:00   19.10  0.0      0.0
9   Mont Saint Michel  2025-10-15 18:00   14.23  0.0      0.0
10  Mont Saint Michel  2025-10-15 21:00   11.03  0.0      0.0
11  Mont Saint Michel  2025-10-16 00:00   10.40  0.0      0.0
12  Mont Saint Michel  2025-10-16 03:00    9.43  0.0      0.0
13  Mont Saint Michel  2025-10-16 06:00    8.63  0.0      0.0
14  Mont Saint Michel  2025-10-16 09:00   14.08  0.0      0.0
15  Mont Saint Michel  2025-10-16 12:00   17.96  0.0      0.0
16  Mont Saint Michel  2025-10-16 15:00   18.93  0.0      0.0
17  Mont Saint Michel  2025-10-16 18:00   13.09  0.0      0.0
18  Mont Saint Michel  2025-10-16 21:00   10.39  0.0      0.0
19  Mont Saint Michel  2025-10-17 00:00    9.29  0.0      0.0
20  Mont Saint Michel  2025-10-17 03:00    8.65  0.0      0.0
21  Mont Saint Michel  2025-10-17 06:00    8.22  0.0      0.0
22  Mont Saint Michel  2025-10-17 09:00   13.94  0.0      0.0
23  Mont Saint Michel  2025-10-17 12:00   17.87  0.0      0.0
24  Mont Saint Michel  2025-10-17 15:00   18.56  0.0      0.0
25  Mont Saint Michel  2025-10-17 18:00   12.51  0.0      0.0
26  Mont Saint Michel  2025-10-17 21:00   10.08  0.0      0.0
27  Mont Saint Michel  2025-10-18 00:00    8.81  0.0      0.0
28  Mont Saint Michel  2025-10-18 03:00    8.12  0.0      0.0
29  Mont Saint Michel  2025-10-18 06:00    7.33  0.0      0.0
30  Mont Saint Michel  2025-10-18 09:00   12.43  0.0      0.0
31  Mont Saint Michel  2025-10-18 12:00   17.22  0.0      0.0
32  Mont Saint Michel  2025-10-18 15:00   18.26  0.0      0.0
33  Mont Saint Michel  2025-10-18 18:00   12.12  0.0      0.0
34  Mont Saint Michel  2025-10-18 21:00    9.52  0.0      0.0
35  Mont Saint Michel  2025-10-19 00:00    8.34  0.0      0.0
36  Mont Saint Michel  2025-10-19 03:00    7.55  0.0      0.0
37  Mont Saint Michel  2025-10-19 06:00    6.71  0.0      0.0
38  Mont Saint Michel  2025-10-19 09:00   11.70  0.0      0.0
39  Mont Saint Michel  2025-10-19 12:00   16.82  0.0      0.0
40            St Malo  2025-10-14 15:00   17.56  0.0      0.0
41            St Malo  2025-10-14 18:00   16.29  0.0      0.0
42            St Malo  2025-10-14 21:00   14.08  0.0      0.0
43            St Malo  2025-10-15 00:00   13.17  0.0      0.0
44            St Malo  2025-10-15 03:00   12.75  0.0      0.0
45            St Malo  2025-10-15 06:00   13.01  0.0      0.0
46            St Malo  2025-10-15 09:00   15.31  0.0      0.0
47            St Malo  2025-10-15 12:00   16.99  0.0      0.0
48            St Malo  2025-10-15 15:00   17.90  0.0      0.0
49            St Malo  2025-10-15 18:00   15.55  0.0      0.0

In [ ]:

df_avg = (
    df_weather
    .groupby("ville", as_index=False)
    .agg(
        mean_temp_c=("temp_c", "mean"),
        mean_pop=("pop", "mean")
    )
)


df_avg["mean_temp_c"] = df_avg["mean_temp_c"].round(1)
df_avg["mean_pop"] = (df_avg["mean_pop"] * 100).round(1)  


print(df_avg.head(36))

‚úÖ –°—Ä–µ–¥–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ –∫–∞–∂–¥–æ–º—É –≥–æ—Ä–æ–¥—É:
                           ville  mean_temp_c  mean_pop
0                  Aigues Mortes         16.6       0.0
1                Aix en Provence         17.2       3.5
2                         Amiens         12.0       0.0
3                         Annecy         10.3       0.0
4                         Ariege         13.1      10.3
5                        Avignon         15.3       0.0
6                         Bayeux         12.4       1.5
7                        Bayonne         16.5       0.0
8                       Besancon          9.9       0.0
9                       Biarritz         17.3       0.0
10            Bormes les Mimosas         16.1       6.8
11                   Carcassonne         17.0       0.2
12                        Cassis         17.5       4.7
13  Chateau du Haut Koenigsbourg          8.1       0.0
14                     Collioure         17.2       2.0
15                        Colmar         10.8       0.0
16                         Dijon         10.1       0.0
17                     Eguisheim         10.5       0.0
18              Gorges du Verdon         10.9      14.7
19                      Grenoble         13.8       0.0
20                   La Rochelle         15.3       0.0
21                      Le Havre         13.6       0.5
22                         Lille         12.5       2.5
23                          Lyon         12.5       0.0
24                     Marseille         18.6       5.7
25             Mont Saint Michel         12.5       0.0
26                     Montauban         16.3       0.0
27                         Nimes         16.4       0.0
28                         Paris         13.9       0.0
29                         Rouen         12.3       0.0
30      Saintes Maries de la mer         16.7       0.0
31                       St Malo         13.7       0.0
32                    Strasbourg         11.6       0.0
33                      Toulouse         17.3       0.0
34                          Uzes         15.2       0.0

In [44]:
df_avg[(df_avg["mean_temp_c"].between(17, 22)) & (df_avg["mean_pop"] < 4)]

              ville  mean_temp_c  mean_pop
1   Aix en Provence         17.2       3.5
9          Biarritz         17.3       0.0
11      Carcassonne         17.0       0.2
14        Collioure         17.2       2.0
33         Toulouse         17.3       0.0

In [ ]:
import json
import pandas as pd
from io import StringIO


df_raw = pd.read_csv("weather_raw.csv")
df_raw["datetime"] = pd.to_datetime(df_raw["datetime"])
df_raw = df_raw.rename(columns={"ville": "city_name"})
df_raw["city_name"] = df_raw["city_name"].astype(str).str.strip()


with open("weather.ipynb", "r", encoding="utf-8") as f:
    nb = json.load(f)

cities_df = None
for cell in nb.get("cells", []):
    for out in cell.get("outputs", []):
        data = out.get("data", {})
        html = data.get("text/html")
        if html:
            html_str = "".join(html) if isinstance(html, list) else html
            try:
                tables = pd.read_html(StringIO(html_str))
            except Exception:
                continue
            for t in tables:
                cols = [str(c).strip().lower() for c in t.columns]
                if "ville" in cols and "latitude" in cols and "longitude" in cols:
                    cities_df = t.copy()
                    break
        if cities_df is not None:
            break
    if cities_df is not None:
        break


for col in list(cities_df.columns):
    if str(col).lower().startswith("unnamed"):
        cities_df = cities_df.drop(columns=[col])

cities_df = cities_df.rename(columns={"ville": "city_name"})
cities_df["city_name"] = cities_df["city_name"].astype(str).str.strip()
cities_df = cities_df.sort_values("city_name").reset_index(drop=True)
cities_df.insert(0, "city_id", range(1, len(cities_df) + 1))

cities_df.to_csv("cities.csv", index=False)


df_w = df_raw.merge(cities_df[["city_id", "city_name"]], on="city_name", how="left")
df_w["forecast_date"] = df_w["datetime"].dt.date

weather_daily = (
    df_w.groupby(["city_id", "city_name", "forecast_date"], as_index=False)
    .agg(
        temp_mean_c=("temp_c", "mean"),
        temp_min_c=("temp_c", "min"),
        temp_max_c=("temp_c", "max"),
        pop_mean=("pop", "mean"),
        pop_max=("pop", "max"),
        rain_mm_sum=("rain_mm", "sum"),
    )
)

weather_daily = weather_daily.sort_values(["city_id", "forecast_date"]).reset_index(drop=True)
weather_daily.insert(0, "weather_id", range(1, len(weather_daily) + 1))

weather_daily.to_csv("weather_daily.csv", index=False)